.title {
    font-size: 42px;
    color: #3fbeae;
    margin-top: 14px;
}

.subtitle {
    font-size: 24px;
    color: #3fbeae;
    margin-top: 6px;
}

.subsubtitle {
    font-size: 16px;
    color: #3fbeae;
    margin-top: 6px;
}

.subsubtitle-no-set {
    font-size: 16px;
    color: #949494;
    margin-top: 6px;
}

.subheader {
    margin-top: 12px;
    position: relative;
    width: 100%;
}

.load {
    margin-left: 16px;
    margin-top: 24px;
}

.header {
    width: 100%;
    vertical-align: center;
}

.custom-button {
    font-size: 16px;
    background-color: #3fbeae;
    color: #ffffff;
    font-weight: 500;
    min-width: 6em;
}

.header-button {
    margin-top: 36px;
}

.filter {
    width: 300px;
}

.down {
    margin-top: -2em;
}

.link {
    color: #d45e14 !important;
}

.link-person {
    color: #d45e14 !important;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.link-person:hover {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

vaadin-grid-cell-content {
    font-size: 14px;
}

.vaadin-grid tr.v-selected {
    background: #466c90;
    color: #fff;
}

.vaadin-grid tr.v-selected:hover {
    background: #5C8EBD;
    color: #fff;
}

.login-box {
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

.hr-class {
    margin-top: 8px;
}

.bugzilla-form {
    width: 100%;
}
